.body{
    font: roboto "Times New Roman" sans-serif;
    padding: 0;
    margin: 0;
}



.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.headelement{
    display: flex;
    flex-direction: row;
    /*border: 2px solid;*/  
    /*gap: 100px;  */
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #FAF9F8;
}

.links{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.header2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    /*padding: 50px;*/
    /*border: solid;*/
}

.header3{
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 10px;
    /*padding: 10px;*/
    /*border: solid;*/
    text-wrap: ;
}

.image{
    display: flex;
    background-color: beige;
    width: 300px;
    height: 200px;
    /*object-fit: contain;
    width:100;
    height: 50;
    border: solid;*/

}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    color: white;
    padding: 5px 10px;
    width: 60px;
    border-radius: 10%;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}


.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;   
    /*flex-wrap: wrap;*/
}

.boxcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 5%;
}

.descrip{
    width: 200px;
    text-align: center;
}